[submodule "vendor/fribidi"]
	path = vendor/fribidi
	url = git://anongit.freedesktop.org/fribidi/fribidi
	ignore = dirty
[submodule "vendor/freetype2"]
	path = vendor/freetype2
	url = git://git.sv.nongnu.org/freetype/freetype2.git
	ignore = dirty
[submodule "vendor/zlib"]
	path = vendor/zlib
	url = git://github.com/madler/zlib.git
	ignore = dirty
[submodule "vendor/wxWidgets"]
	path = vendor/wxWidgets
	url = git://github.com/wxWidgets/wxWidgets.git
	ignore = dirty
[submodule "vendor/googletest"]
	path = vendor/googletest
	url = git://github.com/svn2github/googletest.git
	ignore = dirty
[submodule "vendor/ffmpeg"]
	path = vendor/ffmpeg
	url = git://source.ffmpeg.org/ffmpeg.git
	ignore = dirty
[submodule "vendor/ffms2"]
	path = vendor/ffms2
	url = git://github.com/FFMS/ffms2.git
	branch = master
	ignore = dirty
[submodule "vendor/fontconfig"]
	path = vendor/fontconfig
	url = git://github.com/tgoyne/fontconfig.git
	branch = msvc
	ignore = dirty
[submodule "vendor/libass"]
	path = vendor/libass
	url = git://github.com/libass/libass.git
	branch = master
[submodule "vendor/icu"]
	path = vendor/icu
	url = git://github.com/sillsdev/icu4c.git
	branch = trunk
	ignore = dirty
[submodule "vendor/boost"]
	path = vendor/boost
	url = https://github.com/boostorg/boost.git
	ignore = dirty
[submodule "vendor/lua"]
	path = vendor/lua
	url = git://github.com/ittner/Lua-experimentation.git
	branch = lua51
	ignore = dirty
[submodule "vendor/fftw"]
	path = vendor/fftw
	url = https://github.com/Aegisub/fftw3.git
	ignore = dirty
