*.App
*.[oadi]
*.ass
*.avi
*.bz2
*.cache
*.dep
*.dll
*.dmg
*.exe
*.gch
*.gz
*.idb
*.ilk
*.manifest
*.mkv
*.mo
*.ncb
*.obj
*.orig
*.patch
*.pch
*.pdb
*.sdf
*.sln
*.so
*.srt
*.suo
*.swp
*.ts
*.user
*.vsp
*.y4m
*.zip
*~

bin
lib
obj

.lvimrc
.syntastic_cpp_config
BuildLog.htm
Makefile.inc
acconf.h
acconf.h.in
aclocal.m4
aegisub/conf.sh
aegisub/desktop/aegisub.desktop
aegisub/libaegisub/libaegisub-3.0.so.3
aegisub/reporter/reporter-3.0
aegisub/src/aegisub
aegisub/src/aegisub-3.0
aegisub/src/libresrc/bitmap.cpp
aegisub/src/libresrc/bitmap.h
aegisub/src/libresrc/default_config.cpp
aegisub/src/libresrc/default_config.h
aegisub/src/libresrc/default_config_platform.json
aegisub/tools/common-respack
aegisub/tools/osx-bundle.sed
autom4te.cache
config.log
config.status
config_windows.h
configure
svn-revision.h
svn_revision
svnmove.txt
git_version.h
