[submodule "fribidi"]
	path = vendor/fribidi
	url = git://anongit.freedesktop.org/fribidi/fribidi
	ignore = dirty
[submodule "freetype2"]
	path = vendor/freetype2
	url = git://git.sv.nongnu.org/freetype/freetype2.git
	ignore = dirty
[submodule "zlib"]
	path = vendor/zlib
	url = git://github.com/madler/zlib.git
	ignore = dirty
[submodule "wxWidgets"]
	path = vendor/wxWidgets
	url = git://github.com/wxWidgets/wxWidgets.git
	ignore = dirty
[submodule "googletest"]
	path = vendor/googletest
	url = git://github.com/svn2github/googletest.git
	ignore = dirty
[submodule "ffmpeg"]
	path = vendor/ffmpeg
	url = git://source.ffmpeg.org/ffmpeg.git
	ignore = dirty
[submodule "ffms2"]
	path = vendor/ffms2
	url = git://github.com/FFMS/ffms2.git
	branch = master
	ignore = dirty
[submodule "fontconfig"]
	path = vendor/fontconfig
	url = git://github.com/tgoyne/fontconfig.git
	branch = msvc
	ignore = dirty
[submodule "libass"]
	path = vendor/libass
	url = git://github.com/libass/libass.git
	branch = master
[submodule "icu"]
	path = vendor/icu
	url = git://github.com/sillsdev/icu4c.git
	branch = trunk
	ignore = dirty
[submodule "boost"]
	path = vendor/boost
	url = https://github.com/boostorg/boost.git
	ignore = dirty
[submodule "fftw"]
	path = vendor/fftw
	url = https://github.com/Aegisub/fftw3.git
	ignore = dirty
