/output
/tests/data

git_version.h
git_version.xml

packages/win_installer/vendor
tests/*.json
tools/osx-bundle.sed

# Meson
subprojects/freetype*
subprojects/fribidi
subprojects/harfbuzz
subprojects/libass
subprojects/libpng*
subprojects/packagecache
subprojects/zlib*
