BasedOnStyle: LLVM

AlignEscapedNewlines: DontAlign
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: true
BreakBeforeBraces: Attach
ColumnLimit: 100
Cpp11BracedListStyle: false
IndentCaseLabels: true
IndentWidth: 4
PointerAlignment: Left
SpaceBeforeParens: Never
TabWidth: 4
UseTab: ForIndentation

