name: Meson CI

on:
  push:
    branches: [ master ]
    tags: [ 'v*' ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}

    strategy:
      fail-fast: false
      matrix:
        config:
          - name: Windows MSVC x64 Release
            os: windows-latest
            arch: x64
            msvc: true
            buildtype: release
            args: >-
              -Ddefault_library=static
              --force-fallback-for=zlib,harfbuzz,freetype2,fribidi,libpng
              -Dfallback_nasm=true
              -Dfreetype2:harfbuzz=disabled
              -Dharfbuzz:freetype=disabled
              -Dharfbuzz:cairo=disabled
              -Dharfbuzz:glib=disabled
              -Dharfbuzz:gobject=disabled
              -Dharfbuzz:tests=disabled
              -Dharfbuzz:docs=disabled
              -Dfribidi:tests=false
              -Dfribidi:docs=false
              -Dlibass:fontconfig=disabled
          - name: Windows MSVC ARM64 Release
            os: windows-11-arm
            arch: arm64
            msvc: true
            buildtype: release
            args: >-
              -Ddefault_library=static
              --force-fallback-for=zlib,harfbuzz,freetype2,fribidi,libpng
              -Dfreetype2:harfbuzz=disabled
              -Dharfbuzz:freetype=disabled
              -Dharfbuzz:cairo=disabled
              -Dharfbuzz:glib=disabled
              -Dharfbuzz:gobject=disabled
              -Dharfbuzz:tests=disabled
              -Dharfbuzz:docs=disabled
              -Dfribidi:tests=false
              -Dfribidi:docs=false
              -Dlibass:fontconfig=disabled
              -Dlibass:asm=disabled
          #- {
          #  name: Windows MinGW,
          #  os: windows-latest,
          #  msvc: false
          #}
          - {
            name: Ubuntu Debug,
            os: ubuntu-latest,
            buildtype: debugoptimized,
            args: -Db_pch=false
          }
          - {
            name: Ubuntu Release,
            os: ubuntu-latest,
            buildtype: release,
            args: -Db_pch=false
          }
          - {
            name: macOS x86_64 Debug,
            os: macos-15-intel,
            buildtype: debugoptimized,
            args: -Ddefault_library=static -Dbuild_osx_bundle=true -Dlocal_boost=true --force-fallback-for=ffms2
          }
          - {
            name: macOS x86_64 Release,
            os: macos-15-intel,
            buildtype: release,
            args: -Ddefault_library=static -Dbuild_osx_bundle=true -Dlocal_boost=true --force-fallback-for=ffms2
          }
          - {
            name: macOS arm64 Debug,
            os: macos-15,
            buildtype: debugoptimized,
            args: -Ddefault_library=static -Dbuild_osx_bundle=true -Dlocal_boost=true --force-fallback-for=ffms2
          }
          - {
            name: macOS arm64 Release,
            os: macos-15,
            buildtype: release,
            args: -Ddefault_library=static -Dbuild_osx_bundle=true -Dlocal_boost=true --force-fallback-for=ffms2
          }

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: '0'

      - uses: actions/setup-python@v6
        with:
          python-version: '3.x'

      - name: Setup Meson
        run: |
          python -m pip install --upgrade pip setuptools
          pip install meson==1.9.2

      - name: Setup MSVC
        if: startsWith(matrix.config.os, 'windows-') && matrix.config.msvc == true
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{ matrix.config.arch }}

      - name: Install dependencies (Windows)
        if: startsWith(matrix.config.os, 'windows-')
        run: |
          choco install ninja innosetup

          $moonscripturl = "https://github.com/leafo/moonscript/releases/download/win32-v0.5.0/moonscript-187bac54ee5a7450013e9c38e005a0e671b76f45.zip"
          mkdir moonscript
          Invoke-WebRequest -Uri $moonscripturl -OutFile ".\moonscript\moonscript.zip"
          pushd moonscript
          7z e moonscript.zip
          Get-Location | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
          popd

          $gettexturl = "https://github.com/mlocati/gettext-iconv-windows/releases/download/v0.26-v1.17/gettext0.26-iconv1.17-static-64.zip"
          Invoke-WebRequest -Uri $gettexturl -OutFile ".\gettext.zip"
          Expand-Archive ".\gettext.zip" -DestinationPath gettext
          pushd gettext/bin
          Get-Location | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
          popd

      - name: Install dependencies (MacOS)
        if: startsWith(matrix.config.os, 'macos-')
        run: |
          export HOMEBREW_NO_INSTALL_CLEANUP=1
          export HOMEBREW_NO_INSTALLED_DEPENDENTS_CHECK=1
          # Skip brew update for now, see https://github.com/actions/setup-python/issues/577
          # brew update
          brew install ninja
          brew install libass zlib ffms2 fftw hunspell
          brew install pulseaudio  # NO OpenAL in github CI

      - name: Install dependencies (Linux)
        if: startsWith(matrix.config.os, 'ubuntu-')
        run: |
          sudo apt-get update
          sudo apt-get install ninja-build build-essential libx11-dev libfreetype6-dev pkg-config libfontconfig1-dev libass-dev libasound2-dev libffms2-dev intltool libboost-all-dev libhunspell-dev libcurl4-openssl-dev libuchardet-dev libgtest-dev libgmock-dev libwxgtk3.2-dev libportal-gtk3-dev

      - name: Checkout gas-preprocessor (Windows ARM64)
        if: matrix.config.os == 'windows-11-arm'
        uses: actions/checkout@v4
        with:
          repository: FFmpeg/gas-preprocessor
          path: gas-preprocessor

      - name: Add gas-preprocessor to path (Windows ARM64)
        if: matrix.config.os == 'windows-11-arm'
        run: |
          echo "$PWD\gas-preprocessor" | Out-File -FilePath $Env:GITHUB_PATH -Encoding utf8 -Append

      - name: Configure
        run: meson setup build ${{ matrix.config.args }} -Dbuildtype=${{ matrix.config.buildtype }} ${{ github.ref_type == 'tag' && '-Dofficial_release=true' || '' }}

      - name: Build
        run: meson compile -C build

      - name: Run test
        run: meson test -C build --verbose "gtest main"

      # Windows artifacts
      - name: Generate Windows installer
        if: startsWith(matrix.config.os, 'windows-')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run:
          meson compile win-installer -C build

      - name: Generate Windows portable installer
        if: startsWith(matrix.config.os, 'windows-')
        run: cd build && ninja win-portable

      - name: Upload artifacts - win_installer
        uses: actions/upload-artifact@v5
        if: startsWith(matrix.config.os, 'windows-')
        with:
          name: ${{ matrix.config.name }} - installer
          path: build/Aegisub-*.exe
          if-no-files-found: error

      - name: Upload artifacts - portable.zip
        uses: actions/upload-artifact@v5
        if: startsWith(matrix.config.os, 'windows-')
        with:
          name: ${{ matrix.config.name }} - portable
          path: build/aegisub-portable-64.zip

      # macOS artifacts
      - name: Generate macOS installer
        if: startsWith(matrix.config.os, 'macos-')
        run: |
          meson compile osx-bundle -C build
          meson compile osx-build-dmg -C build

      - name: Upload artifacts - macOS dmg
        uses: actions/upload-artifact@v5
        if: startsWith(matrix.config.os, 'macos-')
        with:
          name: ${{ matrix.config.name }} - installer
          path: build/Aegisub-*.dmg
          if-no-files-found: error

      # Tarball
      - name: Generate tarball
        if: matrix.config.os == 'ubuntu-latest' && matrix.config.buildtype == 'release'
        run: |
          set -e

          meson dist --include-subprojects -C build

          # Make sure the subprojects we need are included
          mkdir distcheck
          tar -xJf build/meson-dist/*.tar.xz -C distcheck/
          test -e distcheck/*/subprojects/luabins/meson.build
          test -e distcheck/*/subprojects/LuaJIT*/meson.build

      - name: Upload artifacts - tarball
        uses: actions/upload-artifact@v5
        if: matrix.config.os == 'ubuntu-latest' && matrix.config.buildtype == 'release'
        with:
          name: Source Tarball
          path: build/meson-dist/*.tar.xz
          if-no-files-found: error
